.App {
  background-image: url(./assets/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 300px;

  &__heading {
    color: white;
    font-weight: 500;
    padding: 1em 0;
    text-align: center;
  }
}
